:root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Noto Sans JP", sans-serif;
    background-color: #fef8f8;
  }
  
  .informativoTopo {
    color: var(--text-senary);
  }
  
  mark {
    background-color: rgb(133, 150, 228);
    border-radius: 1000 px;
  }

  .texto-justificado {
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
}