.informativoTopo {
  color: var(--text-senary);
}

mark {
  background-color: var(--acessib-mark);
  border-radius: 1000 px;
}

.texto-justificado {
  text-align: justify;
}

.texto {
  color: var(--text-octonary) !important;
}
