.stylebuttonadd {
  color: var(--background-tertiary);
  background-color: var(--background-quinary);
  border: none;
  border-radius: 0.5rem;
  padding: 0.6rem 0.6rem;
  margin-top: 1rem;
  width: 7rem;
  font-weight: var(--bold-oportunista);
}

.icon i:hover {
  cursor: pointer;
}

.cardimc {
  color: var(--text-secondary);
  height: min-content;
  width: 10rem;
  background-color: var(--branco-creme);
  border: 0.07rem solid var(--misc-octonary);
  border-radius: 0.5rem;
}

@media screen and (min-width: 720px) {
  .cardimc {
    width: 15rem;
  }
}

.graphic-imc {
  height: 30rem;
}

input#altura,
input#peso {
  color: var(--text-quidenary);
}

.fa-trash::before {
  color: var(--rouge-princip);
}
.fa-pen-to-square::before {
  color: var(--text-nonary);
}
