.inputPadrao {
  border: 0.1rem solid var(--borda-forms);
  border-radius: 1rem;
  width: 18rem;
  height: 2.5rem;
  padding-left: 1rem;
  font-size: small;
  background-color: var(--background-primary);
  color: var(--text-octonary) !important;
}

.inputPadrao:focus{
  background-color: var(--background-primary);
}

.buttonRemove {
  width: 2rem;
  height: 2rem;
  background-color: var(--background-primary);
  color: var(--button-secondary);
  border: 1.5px solid var(--borda-forms);
}

.buttonAdd {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--background-primary);
  color: var(--transparent-tertiary);
  border: 1.5px solid var(--borda-forms);
}

.buttonRemove:hover {
  background-color: var(--button-secondary);
  border: 1.5px solid var(--borda-forms);
  color: var(--branco-preto);
}

.buttonAdd:hover {
  background-color: var(--transparent-tertiary);
  border: 1.5px solid var(--borda-forms);
  color: var(--branco-preto);
}

.buttonForm {
  background-color: var(--button-tertiary);
  font-weight: bold;
  color: var(--branco);
  border-radius: 1rem;
  border-color: var(--misc-quinary);
  width: 10rem;
}

.buttonForm:hover {
  background-color: var(--button-quaternary);
  border: 1px solid var(--sombra-oportunista);
  color: var(--branco);
  
}

.valoresNutricionais {
  border: 2px solid var(--text-secondary);
  background-color: var(--background-octodenary);
}

.head {
  border-bottom: 2px solid var(--text-secondary);
  width: 100%;
  color: var(--text-octonary);
}

.labelNutri {
  width: 8rem;
  color: var(--text-octonary);
}

::placeholder {
  /* Most modern browsers support this now. */
  color: var(--placeholder) !important;
}



/* menor ideia de q porra é essa, so sei q isso fz o texto dancar quando clica, entou vou por em 1rem p parar c essa porra */

.form-floating > .form-control-plaintext:focus, .form-floating > .form-control-plaintext:not(:placeholder-shown), .form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1rem;
}