.first-title {
  text-align: center;
  margin-top: 1.5rem;
  color: #c4066b;
  font-weight: bold;
}

.title {
  font-weight: bold;
}

.graphicwater {
  height: 30rem;
}

.titlefood {
  font-weight: bold;
}

.graphicfood {
  height: 30rem;
}

.cardcontrole {
  height: 100%;
  background-color: var(--branco-creme);
  border: 0.07rem solid var(--background-denary);
}

.icon i:hover{
  cursor: pointer;
}