.dietaNome{
    text-align: center;
    font-weight: bold;
    color: var(--text-octonary);
    margin-top: 4rem;
}

.cardDetalheDieta{
    height: auto !important;
    box-shadow: 0 2.5rem 2.5rem -3rem var(--efeitos-salmao) !important;
    background-color: var(--background-primary);
    color: var(--text-octonary);
}

.list-group-item{
    background-color: var(--background-primary);
    color: var(--text-octonary);
}

.botaoBackdropDieta{
    background-color: none;
}

.card p{
    color: var(--text-duodenary);
}

.iconeCardDetalheFav{
    color: var(--rouge-princip) !important;
}

.iconeCardDetalheMais{
    color: var(--preto-icones) !important;
}

.buttonForm {
    background-color: var(--button-tertiary);
    font-weight: 700;
    color: var(--branco);
    border-radius: 1rem;
    border-color: var(--misc-quinary);
    width: 10rem;
}

.buttonForm:hover {
    background-color: var(--button-quaternary);
    border: 1px solid var(--sombra-oportunista);
    color: var(--branco);
}

@media screen and (max-width: 331px) {
    .card-container {
        justify-items: left;
    }

    .conjuntoRefeicoes {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

@media screen and (max-width: 768px) {
    .card-container {
        justify-items: center;
    }
} 

.fw-bold.text-center.toast-body {
    background-color: var(--background-vigintenary);
    color: var(--text-octonary);
}


.apagarDetalheDieta{
    color: var(--background-primary) !important;
    -webkit-text-stroke-width: 1.5px; 
    -webkit-text-stroke-color: var(--preto-icones); 
    
}

.buttonCards{
    font-size: 1.2rem;
}