/* [type="radio"] {
  display: none;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active,
.btn-secondary:hover {
  background-color: var(--background-quaternary) !important;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

.btn-secondary {
  border-radius: 0;
  background-color: var(--background-duodenary);
}

.btn-secondary:hover {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  background-color: var(--background-quaternary) !important;
}

.pontaEsquerda {
  border-radius: 1rem 0rem 0rem 1rem !important;
}
.pontaDireita {
  border-radius: 0rem 1rem 1rem 0rem !important;
}

.opcoesMenu {
  padding-top: 2rem;
  padding-bottom: 2rem;
} */

.nav-tabs .nav-link {
  background-color: var(--background-duodenary);
  text-underline-offset: 0.3rem !important;
}

.nav-tabs .nav-link:hover {
  background-color: var(--background-quaternary);
  color: var(--background-primary) !important;
}
/*.nav-tabs .nav-link:focus {
  background-color: var(--background-quaternary);
  color: var(--background-primary) !important;
}*/

/* .nav-link:active {
  background-color: var(--background-quaternary) !important;
  border-color: none !important;
  color: var(--background-primary) !important;
} */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: var(--background-quaternary);
}

.Abas {
  padding-top: 2rem;
  text-align: center;
  padding-bottom: 3rem;
}

/*Aqui é a cor de fundo das abas que está em verde claro
  se de fato precisar remover*/
/* .tab-teste {
  background-color: var(--background-secondary);
} */

.tituloDieta {
  text-align: center;
  padding-bottom: 2rem;
}

.titulo-refeicao {
  display: flex;
  padding-bottom: 3rem;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.botoes {
  padding-bottom: 2rem;
  text-align: right;
}

.botao.adiciona {
  margin-left: 2rem;
}

.botao {
  background-color: var(--background-quinary);
  border-radius: 1rem;
  width: 6rem;
  margin-right: 0.5rem;
}

.botao.acomp {
  margin-left: 2rem;
}

.botao.dado{
  margin-left: 1rem;
  width: 4rem;
  margin-bottom: 0.5rem;
}


.receita {
  font-size: large;
  text-align: left;
  display: flex;
  width: 100%;
  padding-top: 1rem;
  padding-left: 10rem;
  border: 2px solid;
  margin-bottom: 2rem;
}

.imagemComida {
  width: 9rem;
}

.botoes2 {
  width: 100%;
  text-align: left;
}

.textos-info {
  padding-left: 3rem;
  width: 60%;
}

.group-input {
  display: flex;
}

.group-input label {
  padding-right: 1rem;
  padding-left: 2rem;
}

.group-input input {
  border-radius: 1rem;
  border: 1px solid;
}

.input-form {
  padding-bottom: 5rem;
}

.caixas {
  width: 100%;
  display: flex;
}

.caixa-dados {
  width: fit-content;
  justify-content: left;
  border: 1px solid;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-right: 2.5rem;
  margin-left: 4rem;
}

.grafico{
  border: 2px solid;
  width: 85%;
  margin-top: 4rem;
  margin-left: 4rem;
  height: 10rem;
}

.edit-group-input{
  text-align: left;
  padding-left: 7rem;
}

.row-input{
  margin-top: 2rem;
}