.title {
  font-weight: bold;
  color: var(--text-secondary);
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #fef8f8;
}

.informativoTopo {
  color: var(--text-senary);
}

mark {
  background-color: rgb(133, 150, 228);
  border-radius: 1000 px;
}

.rep {
  text-align: justify;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 2rem;
}

.texto-justificado {
  text-align: justify;
  padding-left: 8rem;
  padding-right: 8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.buttonCards{
  /* color: var(--text-quardenary); */
  background-color: rgb(0,0,0,0);
  border: none;
  margin-top: 2rem;
  margin-left: 1rem;

}

.barraHoriz{
  display: flex !important;
}

.headline .text{
  text-align: center;
}
