.linkExerc {
  text-align: right;
}

.cardEx {
  width: 18rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 3rem;
}


/* TEste */


/* ------------------------ Dietas --------------------------- */
/* EstiloCardDieta */
.card-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* adicionei 1fr a mais */
  gap: 2.5rem;
  width: 100%;
  /* max-width: 75rem; */  /* Ja q ta numa flexbox, nao tem como centralizar de outro jeito  */
  height: auto;
  margin: 1.25rem;
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  color: #303336;
}

.card {
  height: 29.375rem;
  border-radius: 0.625rem;
  background-color: #fff;
  box-shadow: 0 2.5rem 2.5rem -1.25rem #e76f4c17;
  overflow: hidden;
}

.card .card-top {
  height: 14.75rem;
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  color: #303336;
  background-color: #d1e8ee;
  overflow: hidden;
}

.card .card-top .ImageAdress {
  display: block;
  height: 100%;
}

.card .card-top .ImageAdress img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  object-position: center;
  transition: 300ms;
}

.card .card-content {
  padding: 1.875rem;
}

.card .card-content .tag {
  font-weight: 700;
  letter-spacing: 0.125rem;
}

.card .tag-travel {
  color: var(--salmao-princip);
}

.card .title {
  color: #303336;
  font-weight: 700;
  transition: 300ms;
}

.card p {
  color: #7b8591;
  margin-top: 1.25rem;
}

/* ---------------------------- */
/* Content Style | Hover Effect */
/* ---------------------------- */

.card .card-top .ImageAdress img:hover {
  opacity: 0.75;
}

.card .title:hover {
  color: #303336bb;
}

/* Just Copy The Code Above */
/* ======================== */

/* Display this style when screen-width is lower than 1240px */
@media only screen and (max-width: 1240px) {
  main {
    display: block;
    height: auto;
    min-height: max(40rem, 100vh);
    /* padding: 80px 0; */
  }

  .card-container {
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin: 0;
    padding: 2.5rem;
  }

  .card {
    height: auto;
  }
}

/* Display this style when screen-width is lower than 768px */
@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

/* Display this style when screen-width is lower than 425px */
@media only screen and (max-width: 425px) {
  .card-container {
    padding: 1.25rem;
  }
}

.iconsCard {
  font-size: larger;
}


/* offcanvas */


.offcanvas.offcanvas-start{
  width: auto !important;
}

/* barra de filtro */

.barraDeFiltros{
  width: 15.625rem;
}

/* .barraDeFiltros .nav-link{
  
  color: black !important;
} */

.btnCategoriaBarraFiltro{
  font-weight: bolder;
}

.listaCategoria{
  list-style-type: none;
}

.grupoCategoria{
  padding-left: 1rem;
}

.form-check-input[type=radio], .form-check-input[type=checkbox]{
  border-color: var(--misc-primary);
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}

.btn-toggle{
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.barraDeFiltros {
  
  position: relative;
  display: flex;
  z-index: 1;
  box-shadow: 0.188rem 0.25rem 0.125rem #e9e9e9;
  align-self:flex-start;
  border-radius: 1.25rem;
  background-color: #f9f9f9 !important;
}

.linhaBotaoFiltro {
  display: flex;
  justify-content: right;
}

.custom-range::-webkit-slider-thumb {
  background: var(--salmao-princip);
}


input[type='range']::-webkit-slider-thumb {

  width: 2rem;
  background-color: var(--salmao-princip);
  -webkit-appearance: none;
}

input[type=checkbox]:checked{
  background-color: var(--salmao-princip);
}

input[type=radio]:checked{
  background-color: var(--salmao-princip);
}