
.bannerPrincipal{
    background-color: purple;
        
    position: relative;
    text-align: center;
    color: white;
}

.textoCentradoBanner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 3rem;
}

.textoCentradoBannerContent{
    font-weight: bold;
    font-size: 3rem;
}


.Title{
    text-align: center;
}

.bannerImage{
    width: 100%;
    
}

.parteFuncoes{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.subtitulo{
    text-align: center;
    color: var(--text-tertiary);
    font-weight: bold;
}

.subtituloPt2{
    text-align: center;
    color: var(--text-tertiary);
    font-weight: bold;
    margin-bottom: 3rem;
}


.card-img-top{
    width: 30vh !important;
    height: 30vh !important;
    align-self: center;
}

/* .card{
    margin-left: 8rem;
    margin-right: 8rem;
    border-color: red;
    
    border-left-width: 10px !important;
    border-left-color: blue !important;
} */

.card-group{
    border-left-width: 10px !important;
}

.card-group > .card + .card {

    border-left-width: 10px !important;
    border-left-color: blue !important;
  
}



* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    
    
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .cardBox{
    justify-content: center;
  }


  .card-title{
    color: var(--text-quaternary);
    font-weight: bold;
    /* text-decoration: underline;
    text-underline-offset: 0.5rem; */
    padding-bottom: 0.3rem;
    border-bottom: 0.2rem solid;
    border-bottom-color: var(--misc-primary);

  }