:root {
  --background-primary: #f9f9f9f9;
  --background-secondary: rgba(140, 235, 152, 0.6); /*Fundo Login*/
  --background-tertiary: #effff1; /*Fundo Cadastro*/
  --background-quaternary: #254e24; /*Footer*/
  --background-quinary: #3fae3c; /*Header*/
  --background-senary: rgba(238, 255, 255, 0.95);
  --background-septenary: #f9ffd3;
  --background-octonary: #e9f8e7;
  --background-nonary: #066404;
  --background-denary: #111111;
  --background-undenary: #060c05;
  --background-duodenary: #387d37;
  --background-tridenary: #333;
  --background-quatordenary: #e9f8e7;
  --background-quinodenary: #c3ffdb;
  --background-senodenary: #f7fff3;
  --background-octodenary: #efbbba;
  --background-nonadenary: #989898;
  --background-vigintenary: #faebd7;
  --background-vigintidenary: #cecaca;

  --background-card: #d9d9d9;

  --button-primary: #45c53a;
  --button-secondary: #ea4545;
  --button-tertiary: #809f27;
  --button-quaternary: #5f791a;

  --text-primary: #fff;
  --text-secondary: #000;
  --text-tertiary: #0a9906;
  --text-quaternary: #e52f8f;
  --text-quinary: #f0f8ff;
  --text-senary: #060c05;
  --text-octonary: #212529;
  --text-nonary: #212529;
  --text-denary: #fff;
  --text-undenary: #363530;
  --text-duodenary: #7b8591;
  --text-tridenary: #fff;
  --text-quadenary: #254e24;
  --text-quidenary: #000;
  --text-sedenary: #000;

  --misc-primary: #737373;
  --misc-secondary: #ebff38;
  --misc-tertiary: #a3c24b;
  --misc-quaternary: #96b346;
  --misc-quinary: #b0b0b0;
  --misc-senary: #087f08;
  --misc-octonary: #858585;
  --misc-nonary: #a3c24baa;

  --borda-forms: #6a6969;

  --link-dark: #000000c4;
  --placeholder: #6b6b6b;
  --talvez-nada: none;

  --transparent-primary: rgba(255, 255, 255, 0.6);
  --transparent-secondary: rgba(69, 197, 58, 1);
  --transparent-tertiary: rgba(119, 190, 3, 0.8);

  --branco: #fff;
  --branco-creme: #f7f7f7;
  --branco-clarin: #e9e9e9;
  --branco-clarin2: #d5d5d5;
  --preto-icones: #000;

  --preto-branco: #000;
  --branco-preto: #fff;

  --preto-efeitos: #000;
  --preto-efeito-trans: #00000052;
  --semi-effect: #a4a6a7;
  --sombra-clara-effect: #edede8;
  --verde-efeito: #D3F0D7;
  --verde-efeito2: #9cae95;
  --cinza-efeito: #262626;

  --verde-princip: #0a9906;
  --salmao-princip: #ff785a;
  --azul-princip: #33459b;
  --rouge-princip: #ff0000;

  --rouge-secondary: #efbbba;

  --preto-absoluto: #000;

  --text-salmao: #ff785a;
  --text-verde: #0a9906;

  --iterac-verde: #0a9906;
  --efeitos-salmao: #ff785a;

  --blue-light: #8fc7d544;

  --bold-oportunista2: 700;

  --background-warning-modal: #b7e1ea;
  --acessib-mark: rgb(133, 150, 228);
  --verde-sucess: rgba(165, 220, 134, 0.7);

  --eu-sinto-o-shadow: #c1b9b9;
  --filter-svgs: invert(10%) sepia(9%) saturate(907%) hue-rotate(169deg) brightness(99%) contrast(90%);
  --imgLogin: url("/backgroundLoginTemp.png");
}

[data-theme="contraOn"] {
  --background-primary: #000;
  --background-secondary: #ff0;
  --background-tertiary: #000;
  --background-quaternary: #000;
  --background-quinary: #ff0;
  --background-nonary: #655205;
  --background-denary: #000;
  --background-undenary: #ff0;
  --background-duodenary: #000;
  --background-tridenary: #fff;
  --background-quatordenary: #000;
  --background-quinodenary: #ff0;
  --background-senodenary: #000;
  --background-octodenary: #000;
  --background-nonadenary: #2a2a2a;
  --background-vigintenary: #000;
  --background-vigintidenary: #2a2a2a;

  --button-secondary: #ff0;
  --button-tertiary: #ff0;
  --button-quaternary: #a0a00f;
  /* --button-quaternary: #fff; */

  --text-primary: #fff;
  --text-secondary: #fff;
  --text-tertiary: #fff;
  --text-quaternary: #fff;
  --text-senary: #fff;
  --text-octonary: #fff;
  --text-nonary: #ff0;
  --text-denary: #000;
  --text-undenary: #ff0;
  --text-duodenary: #fff;
  --text-tridenary: #ff0;
  --text-quadenary: #ff0;
  --text-quidenary: #ff0;
  --text-sedenary: #000;

  --misc-primary: #fff;
  --misc-tertiary: #ff0;
  --misc-quaternary: #ff0;
  --misc-quinary: none;
  --misc-senary: #ff0;
  --misc-octonary: #ff0;
  --misc-nonary: #655205;

  --borda-forms: #ff0;

  --link-dark: #fff;
  --placeholder: #ffffffb3;
  --talvez-nada: #000;

  --verde-efeito: #ff0;
  --verde-efeito2: #655205a3;
  --cinza-efeito: #655205a3;

  --transparent-primary: none;
  --transparent-secondary: none;
  --transparent-tertiary: #ff0;

  --branco: #000;
  --branco-creme: #000;
  --branco-clarin: #ff0;
  --branco-clarin2: #ff0;
  --preto-icones: #ff0;

  --preto-branco: #fff;
  --branco-preto: #000;

  --verde-princip: #000;
  --text-salmao: #ff0;
  --text-verde: #fff;
  --rouge-princip: #ff0;
  --salmao-princip: #ff0;
  --acessib-mark: #ff0;
  --verde-sucess: #ff0;
  --verde-sucess2: #ff0;
  --efeitos-salmao: none;
  --rouge-secondary: #524b04;

  --iterac-verde: #ff0;

  --blue-light: none;

  --sombra-clara-effect: none;

  --branco-oportunista: #fff;
  --amarelo-oportunista: #ff0;
  --bold-oportunista: bold;
  --bold-oportunista2: bold;
  --sombra-oportunista: #524b04;

  --background-warning-modal: #000;
  --bs-border-color-translucent: #ff0;
  --bs-modal-border-color: #ffff00 !important;
  --bs-info-text-emphasis: #ffff00 !important;
  --bs-info-bg-subtle: #ffff00 !important;
  --bs-info-border-subtle: #ffff00 !important;
  --bs-info-text-emphasis: #fff !important;
  --bs-info-rgb: #ffff00 !important;
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #ffff00 !important;

  --eu-sinto-o-shadow: #ff0;
  --filter-svgs: invert(86%) sepia(100%) saturate(6435%) hue-rotate(354deg) brightness(104%) contrast(103%);
  --imgLogin: none;
}

* {
  font-family: "Inter", sans-serif;
}

header {
  background-color: var(--background-denary);
  color: var(--text-primary);
}

footer {
  background-color: var(--background-quaternary);
  color: var(--text-primary);
}
body {
  background-color: var(--branco);
}

main {
  background-color: var(--background-primary);
  margin: 0;
  min-height: 100vh !important;
  width: 100%;
}

/* BARRA DE NAVEGAÇÃO -- HEADER */

#topo {
  padding: 0;
  margin: 0;
  height: auto;
  border-bottom: var(--background-denary) solid 0.6rem;
}

@media screen and (min-width: 1200px) {
  #topo {
    border-bottom: var(--background-denary) solid 0.1rem;
  }
}

.trapezio {
  border-bottom: 7rem solid transparent; /* var(--background-undenary) era a cor antiga, mas esse mais escuro n combina tanto c o preto*/
  height: 0;
  width: min-content;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 576px) {
  .trapezio {
    border-bottom: 7rem solid var(--verde-princip); /* var(--background-undenary) era a cor antiga, mas esse mais escuro n combina tanto c o preto*/
    border-right: 5rem solid transparent;
    width: min-content;
  }
}

.baseNav {
  margin-bottom: -0.55rem !important;
  margin-top: -0.55rem !important;
  margin-left: -0.7rem !important;
}

.headerBar {
  padding: 0.5rem 0.5rem;
  text-align: center;
}
.infoHeader {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}
.logoHeader {
  width: 9rem !important;
  min-width: 9rem !important;
  /* height: 12vh !important; */ /*Se deixar o width e o height juntos, ele fica com as proporcoes estranhas (ss vzs)*/
  margin-left: 1rem;

  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.8rem;
}

.logoFooter {
  /* width: 25rem; */
  min-height: 10rem;
}

.navSla {
  padding: 0.3rem 0.3rem;
  text-align: center;
  display: inline;
}

.nav-item {
  vertical-align: middle;
  display: inline-block;
  padding: 1rem 1rem;
}

.navBarButton {
  /* background-color: var(--text-tertiary); */
  background-color: none;
  border-color: none;
}

.navBarIcon {
  color: var(--text-tridenary);
  font-size: 2.5rem;
}

header .nav-link {
  color: var(--text-tridenary) !important;
  font-weight: bold;
}

header .nav-link:hover {
  color: var(--text-tertiary) !important;
  text-decoration: underline;
  text-underline-offset: 0.7rem;
  text-shadow: var(--transparent-secondary) 0rem 1rem 1rem;
}

#collapsibleNavbar {
  justify-content: center;
}

.loginButton,
.cadButton {
  color: var(--text-tridenary);
  font-weight: bold;
  border-radius: 2rem;
}

.loginButton {
  border-color: var(--text-tridenary);
}

.cadButton {
  margin-right: 1rem;
}

.loginButton:hover,
.cadButton:hover {
  color: var(--text-tertiary) !important;
  text-decoration: underline;
}

.loginButton:active,
.cadButton:active {
  background-color: var(--branco) !important;
}

.loginButton:hover {
  border-color: var(--text-tertiary);
  border-radius: 2rem;
}

.imagemPerfil {
  margin-right: 1rem;
  /* height: 6vh !important; */ /*   Se deixar o width e o height juntos, ele fica com as proporcoes estranhas (ss vzs)    */
}

.perfilDropdownSummoner{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.perfilDropdown{
  
  background-color: var(--background-denary);
  color: var(--text-secondary);
  border: solid var(--text-undenary) 1px;
}

.ItemDropdown{
  color: var(--text-tridenary);
}

.dropdown-item:focus, .dropdown-item:hover{
  background-color: var(--cinza-efeito);
  color: var(--text-tridenary);
}

.itensAcessibilidade {
  justify-content: space-evenly !important;
}

.iconeAcessibilidade {
  padding-right: 1rem;
  width: 2.5rem !important; /* Antes eram 6vh, mas tá rolando um problema na proporção, as vzs fica mt grande  */
  min-width: 2.5rem !important;
  /* height: 3vh !important; */ /*   Se deixar o width e o height juntos, ele fica com as proporcoes estranhas (ss vzs)    */
  margin-top: 1.5rem;
  font-size: 0.7rem;
}

.iconeAcessibilidade:hover {
  cursor: pointer;
}

.atalhoParaAcessibilidade {
  color: var(--text-quaternary);
}

.invertImage {
  transform: rotateY(180deg);
}

/*  FOOTER */

footer {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  margin-top: 2rem;

  height: min-content;

  color: var(--text-primary);
  background-color: var(--background-quaternary);
  /*   display: grid;
  grid-template-columns: repeat(3, 1fr); */
  gap: 3rem;
  width: 100%;
}

footer .footer-logo {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.footer-socials p {
  margin-bottom: 0.75rem;
}

.footer-socials {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
  padding: -0.5rem;
}

@media screen and (max-width: 330px) {
  .footer-socials {
    padding: 0;
  }
}

.footer-link {
  text-decoration: none;
}

.footer-socials .footer-link {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  border-radius: 50%;
}

.footer-socials .footer-link i {
  font-size: 1.25rem;
}

.footer-socials .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

#youtube {
  background-color: #ec0b03;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: var(--text-tridenary);
}

@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

/* TELA DE LOGIN E CADASTRO */

.backgroundTelaLoginCad {
  background-image: url("/backgroundLoginTemp.png");
  background-repeat: repeat;
}

/* MISC PAGINAS EM GERAL */

.tituloPagina {
  font-size: 3rem;
  color: var(--text-quaternary);
  text-align: center;
  font-weight: bolder;
  letter-spacing: 0.01rem;
  margin-bottom: 4rem;
  /* font-family: Inter; */
}

/* styles.css (ou o nome do seu arquivo CSS) */
.custom-card {
  width: 14rem;
  height: 16rem;
  background-color: var(--background-card);
  border-top: 0.07rem solid var(--background-denary);
  border-left: 0.07rem solid var(--background-denary);
  border-right: 0.07rem solid var(--background-denary);
  border-bottom: 0.07rem solid var(--background-denary);
}

.custom-card img {
  width: 100%;
  height: 100%;
  border-bottom: 0.07rem solid var(--background-denary);
}

.custom-card h2 {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

#oopss {
  background: #222;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 20px;
  position: fixed;
  width: 100%;
  height: 100%;
  line-height: 1.5em;
  z-index: 9999;
  left: 0px;
}

#error-text {
  top: 30%;
  position: relative;
  font-size: 40px;
  color: #eee;
}

#error-text a {
  color: #eee;
}

#error-text a:hover {
  color: #fff;
}

#error-text p {
  color: #eee;
  margin: 70px 0 0 0;
}

#error-text i {
  margin-left: 10px;
}

#error-text p.hmpg {
  margin: 40px 0 0 0;
}

#error-text span {
  position: relative;
  background: #ef4824;
  color: #fff;
  font-size: 300%;
  padding: 0 20px;
  border-radius: 5px;
  font-weight: bolder;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 0 40px 0;
}

#error-text span:hover {
  background: #d7401f;
  color: #fff;
  -webkit-animation: jelly 0.5s;
  -moz-animation: jelly 0.5s;
  -ms-animation: jelly 0.5s;
  -o-animation: jelly 0.5s;
  animation: jelly 0.5s;
}

#error-text span:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #ef4824;
  border-width: 7px;
  margin-left: -7px;
}

@-webkit-keyframes jelly {
  from,
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}

@keyframes jelly {
  from,
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
/* CSS Error Page Responsive */

@media only screen and (max-width: 640px) {
  #error-text span {
    font-size: 200%;
  }
  #error-text a:hover {
    color: #fff;
  }
}

/* COMPONENTES */

.btn-comum {
  background-color: var(--misc-senary) !important;
  border-color: var(--background-secondary) !important;
  color: var(--text-denary) !important;
  font-weight: bold !important;
}

.btn-comum:hover {
  background-color: var(--background-nonary) !important;
}
.btn-comum:active {
  background-color: var(--background-primary) !important;
}

.tituloInput{
  color: var(--text-octonary);
}

.labelSimples{
  color: var(--text-octonary);
}

.caixaTexto{
  background-color: var(--background-primary);
  color: var(--text-octonary);
  border-color: var(--borda-forms);
}

.caixaTexto:focus{
  background-color: var(--background-primary);
  color: var(--text-octonary);
}

.form-control:focus {
  border-color: var(--verde-efeito) !important;
  outline: 0;
  box-shadow: 0 0 0 .25rem var(--verde-efeito2) !important;
  font-weight: var(--bold-oportunista);
}

.warning-diferenciado{
  color: var(--text-tertiary);
}

div:where(.swal2-icon).swal2-success [class^="swal2-success-line"]{
  background-color: var(--verde-sucess) !important;
}

div:where(.swal2-icon).swal2-info {
  border-color: var(--verde-sucess) !important;
  color: var(--verde-sucess) !important;
}


.swal2-confirm.swal2-styled{
  border-color: var(--preto-icones) !important;
}

.popover, .popover-body, .popover-header{
  background-color: var(--background-primary);
  color: var(--text-octonary);
  /* border-color: ; */
}

.swal2-popup.swal2-modal.swal2-show {
  background-color: var(--background-primary);
  border: solid 1px var(--branco-oportunista);
  color: var(--text-octonary);
}

.swal2-confirm.swal2-styled {
  background-color: var(--background-primary);
  color: var(--preto-branco) !important;
  border: solid 1px var(--background-quinary) ;
}

.swal2-cancel.swal2-styled{
  background-color: var(--background-quinary);
  color: var(--branco-preto);
  font-weight: var(--bold-oportunista);
}

.swal2-confirm.swal2-styled:focus {
  background-color: none;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus{
  box-shadow: none !important;
}

.swal2-success-circular-line-left, .swal2-success-circular-line-right{
  background-color: var(--background-primary) !important;
}

.swal2-success-fix{
  background-color: var(--background-primary) !important;
}

div:where(.swal2-icon).swal2-success .swal2-success-ring{
  border: .25em solid var(--background-quinary) !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-deny{
  background-color: var(--rouge-princip) !important;
  color: var(--branco-preto) !important;
}