
:root
{--background-primary: white;
--background-secondary: rgba(140, 235, 152, 0.44);  /*Fundo Login*/
--background-tertiary: #EFFFF1;  /*Fundo Cadastro*/
--background-quaternary: #254E24; /*Footer*/
--background-quinary: #3FAE3C;  /*Header*/
--background-senary: rgba(238, 255, 255, 0.95);
--background-septenary: #F9FFD3;
--background-octonary: #E9F8E7;

--button-primary: #45C53A;
--button-secondary: #EA4545;
--button-tertiary: #809F27;

--text-primary: white;
--text-secondary: black;
--text-tertiary: #0A9906;
--text-quaternary: white;

}





header {
    background-color: var(--background-quinary);
    color: var(--text-primary);
}

footer{
    background-color: var(--background-quaternary);
    color: var(--text-primary);
    
}



.headerBar {
    
    padding: 0.5rem 0.5rem;
    text-align: center;
}
.infoHeader {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}
.logoHeader {
    width: 19vh !important;
    height: 12vh !important;
    margin-left: 1rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navSla{
  padding: 0.3rem 0.3rem;
  text-align: center;
  display: inline;
}

.nav-item{
  vertical-align: middle;
  display: inline-block;
  padding: 1rem 1rem;

}

.nav-link{
    color: var(--text-primary) !important;
    font-weight: bold;
}

.nav-link:hover{
    color: #EBFF38 !important;
    text-decoration: underline;
}

.container-fluid{
    justify-content: space-between;
}

#collapsibleNavbar{
    justify-content: center;
}

.loginButton{
    color: var(--text-primary);
    font-weight: bold;
    border-color: var(--text-primary);
    border-radius: 2rem;
}

.cadButton{
    color: var(--text-primary);
    margin-right: 1rem;
    font-weight: bold;
}

.loginButton:hover, .cadButton:hover{
    color: #EBFF38 !important;
    text-decoration: underline;
}

.imagemPerfil{
    width: 6vh !important;
    height: 6vh !important;
    
}

.itensAcessibilidade{
    justify-content: space-evenly !important;
}

.iconeAcessibilidade{
    padding-right: 1rem;
    width: 5vh !important;
    height: 3vh !important;
    margin-top: 1.5rem;
}