.barraPerfil {
  background-color: var(--background-duodenary);
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 5rem;
  height: 2rem;
}

.barraPerfil ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.barraPerfil ul li {
  display: inline-block;
  margin: 0 1.25rem;
}

.barraPerfil ul li a {
  text-decoration: none;
  color: var(--branco);
  font-weight: bold;
}

.dataperson {
  background-color: var(--background-quatordenary);
  margin-top: -0.1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 7rem;
  height: 34rem;
  border-left: 0.07rem solid var(--background-denary); /* Adicionar borda branca à esquerda */
  border-right: 0.07rem solid var(--background-denary);
  border-bottom: 0.07rem solid var(--background-denary);
}

.titulo {
  text-align: center;
  padding-top: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.formulario {
  margin-top: 2rem;
}

.campo {
  margin-bottom: 4rem;
  padding-left: 3rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 0.1rem solid var(--background-denary);
  border-radius: 1rem;
  width: 18rem;
  height: 2.5rem;
  padding-left: 1rem;
}

::placeholder {
  padding-left: 0.1rem;
}

.button {
  text-align: center;
}

.stylebutton {
  color: var(--background-tertiary);
  background-color: var(--background-quinary);
  border: 0.05rem solid var(--background-denary);
  border-radius: 0.5rem;
  padding: 0.6rem 0.6rem;
}

button:active {
  background-color: var(--background-quaternary);
  color: var(
    --background-tertiary
  ); /* Define a cor do texto para um cinza mais escuro */
}

.rotulo {
  padding-left: 0.75rem;
}
