.barraPerfil {
    background-color: var(--background-duodenary); 
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
    height: 2rem;

}

.barraPerfil ul {
    list-style-type: none; 
    padding: 0;
    text-align: center; 
}

.barraPerfil ul li {
    display: inline-block; 
    margin: 0 1.25rem; 
}

.barraPerfil ul li a {
    text-decoration: none;
    color: var(--branco); 
    font-weight: bold; 
}

.dataperson {
    background-color: var(--background-quatordenary); 
    margin-top: -0.1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 7rem;
    height: 30rem;
    border-left: 0.07rem solid var(--background-denary); /* Adicionar borda branca à esquerda */
    border-right: 0.07rem solid var(--background-denary); 
    border-bottom: 0.07rem solid var(--background-denary); 
}
